{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
     <!-- <section class="hero1">
        <div class="wrapper">
            <div class="row1">
                <div class="image-section">

                </div>
                 <div class="content">
                    <h1>About Us!</h1>
                    <h2>Welcome To agrophile</h2>
                    <p style="font-style: 'lobster',cursive;">Agrophile is a Professional agriculture Platform. Here we
                        will provide you only interesting
                        content, which you will like very much.You will come to know the best crop suitable in your
                        land. We're dedicated to providing you the best of agriculture, with a focus on dependability
                        and agro information and crop Prediction. We're working to turn our passion for agriculture into
                        a booming online website. We hope you enjoy our agriculture as much as we enjoy offering them to
                        you. Please give your support and love.<br>Thanks for visiting!</p>
                </div>
            </div> 
        </div> 
    </section>  -->
    <section style="background: antiquewhite;">
        <div class="wrapper">
            <div class="row1">
                <div class="image-section">
                    <img src="../static/images/about1.jpg" alt="Pineapple"
                            style="height:100%;margin-right:15px;">
                </div>
                <div class="content">
                    <h1>About Us!</h1>
                    <h2>Welcome To AGROPHILE</h2>
                    <p style="font-style: 'lobster',cursive;">
                        Agrophile is a Professional Agriculture-based Platform which is especially made for the people 
                        who have a great passion and love towards agriculture like you. In our web application, you will be 
                        able to predict the suitable crop and the dominant fertilizer that should be used for any type of crop. 
                        We also provide you with the all-in-all information about the cultivation of various crops.
                        We're working to turn our passion for agriculture into
                        a booming online website. We hope you enjoy our features as much as we enjoy offering them to
                        you. Please give your support and love.<br>Thanks for visiting!</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>