{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>BLACKGRAM</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\blackgram.jfif' %}" alt="Blackgram"
                        style="height:50%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>BLACKGRAM</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>Climate</h3>
                <ul>
                    <li>It is generally grown in kharif/rainy and summer season</li>
                    <li>It grows best in hot and humid condition with ideal temperature range between 25 to 35oC.</li>
                    <li>It can be grown successfully from sea level up to an elevation of 1800 meters.</li>
                    <li>Heavy rains during flowering are harmful.</li>
                    <li>It is best suited to areas having an annual rainfall of 60 to 75 cm.</li>
                </ul>

                    <br>

<h3>Soil</h3>
<ul>
    <li> Black gram does well on heavier soils such as black cotton soils which retain moisture better.</li>
    <li>It can be grown all types of soils ranging from sandy loam to heavy clay, except the alkaline and saline soils.</li>
    <li>Loam or slightly heavy soils with neutral pH are best suited for uradbean.</li>
    <li>Soil should be will drained and having good water holding capacity.</li>
    <li>Waterlogged, saline and alkaline soil should be avoided.</li>
 
</ul>
<br>
<h3>Land Preparation </h3>
<ul>
    <li>Good land preparations are necessary for better yield of black gram.</li>
    <li>Land should be ploughed in summer followed by two to three harrowing at pre-monsoon for kharif season.</li>
    <li>For summer black gram, after harvest of rabi crops, field prepare with criss-cross moghda once followed by two harrowing</li>
    <li>Land should be well leveled.</li>
    <li>Collect the weeds, previous crops stubbles, stones and clean the field for sowing.</li>
    <li>Mix five to six tons of FYM or compost at last harvesting.</li>
    
</ul>
<br>
<h3>Method of sowing</h3>
<ul>
    <li>Sowing should be done in line sowing\drilling method with tractor drawn ferti-cum-seed drill or by bullock drawn ferti-cum-seed drill/tifan.</li>
    <li>Ferti-cum-seed drill should be used for the application of fertilizers and seed sowing at a time.</li>
    <li>Seeds should not be sown more than 5 to 6 cm in depth.</li>
</ul> 
<br>
<h3>Time of sowing</h3> 
<ul>
    <li>Second fortnight of June (15to 30 June) is the proper time of black gram sowing in kharifon season.</li>
    <li>In summer, sowing should be done from third week of Feb. to First week of April.</li>
    <li>Late sowing should be avoided</li>
</ul> 
<br>
<h3>Yield</h3>
<ul>
    <li>A well managed crop, as indicated above, may produce 12 to 15 quintals of grain per hectare.</li>
</ul> 
<br>

            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>