{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>CHICKPEA</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\chickpea.jpg' %}" alt="Chickpeas"
                        style="height:50%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>CHICKPEAS</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>Planting Chickpeas</h3>
                <ul>
                    <li>Plant chickpeas in full sun. Chickpeas will grow in partial shade but the yield will be reduced.</li>
                    <li>Grow chickpeas in loose, well-drained soil rich in organic matter. Add aged compost to planting beds in advance of planting.</li>
                    <li>Avoid planting chickpeas where green manures have just grown or in soil high in nitrogen; this will result in green leafy growth, not seed production.</li>
                    <li>Add potassium and phosphorus to the soil.</li>
                    <li>Sow chickpeas 1½ to 2 inches (5cm) deep, spaced 3 to 6 inches (7-15cm) apart.</li>
                    <li>Thin successful plants to 6 inches (15cm) apart; cutaway thinned plants at soil level with scissors so as not to disturb roots.</li>
                    <li>Space rows 18 to 24 inches (45-61cm) apart.</li>
                    <li>Do not soak seed before sowing and avoid heavy watering after sowing to keep seeds from cracking.</li>
                    <li>Chickpeas allowed to grow a bit crowded will offer each other support.</li></ul>

                    <br>

<h3>Watering </h3>
<ul>
    <li>Keep chickpea planting beds evenly moist until chickpeas have pushed through the soil. Water regularly during flowering and pod formation. Avoid overhead watering which can cause flowers and pods to fall off.</li>
    <li>Mulch when the weather warms to conserve soil moisture.</li>
    <li>Add aged compost to planting beds in advance of planting.</li>
     <li>Side dress chickpeas with aged compost at midseason. Avoid adding nitrogen-rich fertilizers to planting beds. Chickpeas, like other legumes, set up a mutual exchange with soil microorganisms called nitrogen-fixing bacteria to produce nitrogen compounds used by the plant.</li>
</ul>
<br>
<h3>Harvest and Storing </h3>
<ul>
    <li>Chickpeas will be ready for harvest about 100 days after planting.</li>
    <li>Chickpeas for fresh eating can be picked when pods are still immature and green; they can be eaten like snap beans.</li>
    <li>For dried chickpeas, harvest the entire plant when the leaves have withered and turned brown; place the plant on a flat, warm surface and allow the pods to dry.</li>
    <li>Collect the seed as the pods split. Seeds that will barely dent when bitten are sufficiently dry.</li>
    <li>Chickpeas will be ready for harvest about 100 days after planting.</li>
    <li>Chickpeas for fresh eating can be picked when pods are still immature and green; they can be eaten like snap beans.</li>
    <li>For dried chickpeas, harvest the entire plant when the leaves have withered and turned brown; place the plant on a flat, warm surface and allow the pods to dry.</li>
    <li>Collect the seed as the pods split. Seeds that will barely dent when bitten are sufficiently dry.</li>
</ul>
<br>

            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>