{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>COTTON</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\cotton.jpg' %}" alt="Cotton"
                        style="height:40%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>COTTON</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>How to grow?:</h3>
                <ul>
                    <li>Cotton is planted outdoors in spring once the threat of frost has passed. Check the soil temperature with a soil thermometer to ensure that it is at least 60 degrees F. (15 C.) six inches (15 cm.) down.</li>
                    <li>Keep checking this for a three-day period every morning. Once the soil maintains this temperature, you can work the soil, adding an inch (2.5 cm.) or so of compost to it. Compost is a great source of nitrogen, potassium, and trace minerals necessary for strong plant growth.</li> 
                    <li>Help your child create a furrow with a garden hoe. Moisten the soil. Plant your cotton seeds in groups of three, one inch (2.5 cm.) deep and four inches (10 cm.) apart. Cover and firm the soil. </li>
                    <li>Within a couple weeks, the seeds should begin to sprout. Under optimal conditions, they will sprout within a week but temps under 60 degrees F. ( 15 C.) will prevent or delay germination.</li>


                    <br>

<h3>Care:  </h3>
<ul>
    <li>You will need to keep the plants watered throughout the summer months as part of optimal cotton plant care. </li>
    <li>At around four to five weeks, the plants will begin branching. By eight weeks you should start to notice the first squares, after which blooming soon follows. </li>
        <li>Once the creamy, white flowers have been pollinated, they will turn pink. At this point the plants will begin producing a boll (which becomes the ‘cotton ball.’). It is crucial that water be given during this entire process to ensure adequate growth and production.</li>
            <li>Cotton is ready for harvesting once all of the bolls have cracked open and looks like a fluffy ball. This normally occurs within four months of planting. </li>
                <li>The growing cotton plants will naturally dry up and shed their leaves just prior to the bolls cracking. Be sure to wear some gloves when harvesting cotton from your plants to protect your little one’s hands from getting cut.</li>

</ul>
<br>
<h3>Water management: </h3>
<ul>
    <li>As a rule of thumb, cotton plant needs a minimum of 500 mm of water between germination and boll formation. However, growing commercially cotton plants without providing artificial water supply is not an easy task.</li>
    <li>The problem is not that the cotton plant needs water in order to thrive, but the fact that it needs water at very specific periods during its development.</li>
    <li>If you choose to rely solely on rainfalls, your production is at risk and the chances are that it will fluctuate over the years.</li>
    
</ul>
<br>
<h3>Harvesting: </h3>
<ul>
    <li>5 to 6 months after sowing, cotton is normally ready to be harvested. As it happens in any other crop, knowing exactly which day to harvest requires years of experience.</li>
    <li>We harvest during autumn (September – October) with cotton harvesting machines. These machines are typically very big tractors that strip the fibers from the plants and collect the bolls. Immediately after the harvest, it is good to destroy the remaining of cotton plants with a shredder and then make a very good plowing of our field.</li>

</ul>
<br>

            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>