{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>GRAPES</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\grapes.jpeg' %}" alt="Grapes"
                        style="height:30%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>GRAPES</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>Planting and Spacing Grapes</h3>
                <ul>
                    <li>Set up a vine support system before planting. See the Training section below.</li>
                    <li>Space American and European type grapes 8 feet apart beneath the support; space rows 5 feet apart.</li>
                    <li>Space Muscadine grapes 20 feet apart with 12 feet between rows.</li>
                    <li>Plant grapes in late winter or early spring. Prepare the ground for the fall before planting.</li>
                    <li>Dig holes 1 foot in diameter, wide enough to spread out the roots.</li>
                    <li>Plant grafted grape plants so that the graft union is 2 inches above ground level.</li>
                    <li>Plant non-grafted grapes at the same level they were growing in the container; the lowest bud on the trunk should be even with the soil surface.</li>
                    <li>Firm the soil around the roots so that no air pockets are near the roots; douse the hole with water to wash soil tight around the roots; then fill the hole.</li>
                    <li>Let grapes grow untrained a year after planting; this will allow roots to develop. Pinch off flowers during the first year.</li>
                    <li>Start training grapes to the support the second spring after planting.</li>


                </ul><br>

<h3>Watering Grapes</h3>
<ul>
    <li>Melons require plentiful regular, even watering for quick growing.</li>
    <li>Give melons 1 inch of water (16 gallons/60.5 liters) or more each week.</li>
    <li>Water with drip irrigation or a soaker hose to avoid wetting leaves. Wet leaves are susceptible to fungal diseases.</li>
    <li>Keep the soil around melons evenly moist from planting until the fruit begins to develop.</li>
    <li>You can cut back on watering once fruit begins to develop but don’t let the soil go dry. Less water will enhance sweetness.</li>
    <li>Dry soil a week before harvest will produce the sweetest melons.</li>
    <li>Avoid watering plants overhead which can result in mildew.</li>

</ul>
<br>
<h3>Propagating grapes </h3>
<ul>
    <li>American and European grapes can be propagated by cuttings and grafting.</li>
    <li>Muscadine grapes can be propagated by layering.</li>
        <li>To propagate by cutting choose a mature wood cutting about the size of a pencil. Let the cut tips form a callous over the winter; once the callous forms set each cutting in soil with the growing tip up. Rooted cuttings can be planted in the garden the second spring after cutting.</li>
            <li>To propagate by layering, bend a vigorous cane to the ground and cover it with soil leaving three tips buds exposed. Roots will grow from nodes along the cane in a few months; new plants can be cut from the mother plant and replanted.</li>
                <li>European vinifera canes are commonly grafted to the disease-resistant rootstock. The best time to start a graft is in late winter when the canes (called “scions”) are dormant.</li>

</ul>
<br>
<h3>Harvesting grapes </h3>
<ul>
    <li>Harvest grapes when they are full-colored and sweet flavored usually from late summer to mid-fall depending on the variety. When grapes are ripe the stem will brown and slightly shrivel</li>
    <li>American and European grapes in a bunch commonly ripen at the same time.
    <li>Harvest muscadine grapes individually as they ripen.
    <li>Use a sharp knife or pruner to cut the bunch away from the vine. Handle the bunches carefully; try to preserve as much of the powdery bloom on the berries as possible. Be careful not to stack or crush bunches; use shallow 4-quart baskets.
    <li>Harvest during the coolest part of the day if you plan to store or refrigerate the grapes.
    <li>Grapes do not continue to ripen after picking.
    
</ul>
<br>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>