{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="jc">
        <nav>
            <ul>
                <li class="dropdown"><a href="#">beans<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="/chickpea">chickpea</a>
                        </li>
                        <li><a
                                href="/kidneybeans">kidneybeans</a>
                        </li>
                        <li><a
                                href="/mothbeans">mothbeans</a>
                        </li>
                        <li><a
                                href="/pigeonpeas">pigeonpeas</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">fruit<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="/grapes">grapes</a>
                        </li>
                        <li><a
                                href="/mango">mango</a>
                        </li>
                        <li><a
                                href="/muskmelon">muskmelon</a>
                        </li>
                        <li><a
                                href="/pomegranate">pomegranate</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">cereal<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="/rice">rice</a>
                        </li>
                        <li><a
                                href="/maize">maize</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">fibre<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="/cotton">cotton</a>
                        </li>
                        <li><a
                                href="/jute">jute</a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown"><a href="#">pulses<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="/blackgram">blackgram</a>
                        </li>
                        <li><a
                                href="/lentil">lentil</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <div class="wrapper1">
            <div class="rowx">

                <div class="contentx">
                    <h1>Discover!</h1>
                    <h2>Learn what you sow</h2>
                    <p>Welcome to the information page of the AGROPHILE Platform. In this page we will provide you with
                        agricultural content which is helpful for your faming activity.You will come to know the information regarding the
                        cultivation of various crops, fruits, vegetables, pulses, millets and so on. We're dedicated to
                        providing you the best of agriculture methods to grow your crops organically. Enjoy and love&#10084;
                        agriculture!!!.<br>Thanks for visiting!</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>