{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>LENTIL</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\lentil.jfif' %}" alt="Lentil"
                        style="height:40%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>LENTIL</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>How do Lentils Grow</h3>
                <ul>
                    <li>Lentils grow in pods. There are between one to three lentils per pod. When ready, lentils are harvested in their dry form typically in mid-August.</li>
                    <li>Lentils grow well in limited rainfall areas of the world. Lentils are more widely grown throughout Europe, Asia, and North Africa.  In North America, lentils grow mainly in eastern Washington, northern Idaho, and western Canada where there are drier growing seasons. They have been grown in these areas since the 1930s, rotating with wheat.</li>
                    <li>Many legumes, like peanuts, grow their pods underground like most forage legumes. Other legumes, like green beans and peas, grow their pods above ground on vines. The plant that grows lentils is a bushy, annual plant that also grows its pods above ground.</li>
                    
                </ul>

                    <br>

<h3>Tips for Growing Lentils</h3>
<ul>
    <li> Lentils grow best in deep, sandy loam soils. However, they will grow in all soil types with good drainage. Loam soil is composed of almost equal amounts of sand and silt with a little less clay.  Lentils and buckwheat are great companion plants as well as nitrogen fixers and soil improvers. </li>
    <li>Plant lentils with potatoes, cucumbers, and/or summer savory. Avoid planting lentils with onions or garlic.</li>
   <li>Lentils grow on sparsely branched vines from 18 to 24 inches tall. The lentil has small whitish to light purple pea-like flowers. Lentils flower from the lower branches and up until harvest. Each flower produces a short pod that contains 1-3 seeds</li>
    
</ul>
<br>
<h3>When to Sow Lentils?</h3>
    
<ul>
    <li>Lentils are a cool-season legume. Sow lentils in the spring as early as 2 weeks before the average last frost date. Lentils can be started indoors before transplanting to the garden. Lentil seeds will germinate in 10 days at 68°F. Lentils require 80 to 110 days until harvest.</li>
    <li>Lentils need full sun areas.  They prefer loose, well-drained soil that is rich in organic matter.  They grow best in soil with a pH between 6.0 and 6.5.</li>
    <li>Sow lentil seeds 1 t0 1½ inches deep, deeper if the soil is dry and space seeds 1 inch apart.  Space rows 18 to 24 inches apart. Keep the soil where lentils grow evenly moist. Do not water lentils once pods have begun to dry near harvest time. Add compost tea when lentil plants are 5 inches tall and again at flowering.</li>
    <li>Support lentils with a low trellis. Without a trellis, lentils should be set 5 inches apart to ensure ample air circulation. Protect early crops from pests and frost with row covers. Lentils do not compete well with weeds. Protect lentil plants from wind.</li>
    <li>Lentils can be grown in containers, but several plants are required for a practical yield.  Grow plants in pots at least 8 inches deep.
        Jute requires a hot and humid climate, a temperature fluctuation between 24o C and 37o C. However, the optimum is around 34 o C. 
        There should not be constant rain or waterlogged conditions which are harmful to jute cultivation. In the seedling stage, water-logging is not advised.
         Alternate sunshine and rainy days are most helpful to jute growth.</li>
    
</ul>
<br>
<h3>Harvesting Lentils</h3>
<ul>
    <li> Harvest lentils when the plant begin to turn yellow and the pods become brown. Lentils are commonly used as dry beans or peas. For dried seeds, harvest pods when they have matured and hardened. Leave lentils unshelled until you are ready to use them. Dried lentils are ready for harvest 110 days after sowing.</li>
    
</ul> 
<br>


            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>