{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>MANGO</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\mango.jfif' %}" alt="Mango"
                        style="height:30%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>MANGO</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>Planting and Spacing Mango</h3>
                <ul>
                    <li>There are hundreds of mango cultivars. Some can grow more than 100 feet tall and more than 30 feet wide. There are much smaller cultivars and even dwarf cultivars that grow between 4 and 15 feet tall. Consider the size at maturity of the cultivar you want to grow and space trees accordingly.</li>
                    <li>Prepare a planting site in full sun that is sheltered from a prevailing breeze or wind. A south-facing wall that can collect and radiate solar heat is a good spot in cooler locations.</li>
                    <li>Work well-rotted compost or manure into the soil.</li>
                    <li>Dig a hole half again as deep and twice as wide as the tree’s roots. Add a cupful of all-purpose fertilizer to the bottom of the hole.</li>
                    <li>Put a tree stake in place before planting. Drive the stake into the ground to the side of the hole to at least 2 feet deep. Mature mangoes are deep-rooted but young trees need to be staked at planting time.</li>
                    <li>Set the plant in the hole so that the soil mark from the nursery pot on the stem is at the surface level as the surrounding soil. Spread the roots out in all directions.</li>
                    <li>Re-fill the hole with half native soil and half aged compost or commercial organic planting mix; firm in the soil so that there are no air pockets among the roots. Water in the soil and create a modest soil basin around the trunk to hold water at watering time.</li>
                    <li>Secure the tree to the stake with tree ties.</li>
                    <li>After planting, water each tree thoroughly and fertilize with a high-phosphorus liquid starter fertilizer.</li>

                    </ul>

                    <br>

<h3>Mango Care, Nutrients, and Water </h3>
<ul>
    <li>Keep the soil evenly moist from flowering to harvest. Water as necessary to moisten the soil, but the soil should not remain wet. Allow the soil surface to dry to a depth of 2 to 3 inches between waterings.</li>
    <li>Stop watering for about two months after harvest to initiate a new bloom and growth cycle.</li>
    <li>Feed mangoes three times during the growing season with an organic citrus fertilizer blend, slightly high in nitrogen. Fish emulsion can be used to fertilize mango trees. Do not feed mangoes after midsummer as fruits begin to ripen.</li>
    <li>Protect young trees from frost. Place plant blankets on trees or build a frame around the tree and drape clear plastic sheeting over the frame. Place electric lights inside the frame to provide additional warmth.</li>

</ul>
<br>
<h3>Pruning Mango</h3>
<ul>
    <li>Mangoes require little pruning.</li>
    <li>Prune to establish strong scaffold branches in the first three years after planting.</li>
    <li>Following years, prune away broken or diseased branches, and prune away suckers that grow from the graft.</li>
    <li>Removing some flower clusters during seasons of heavy blooming may alleviate alternate bearing.</li>
    <li>Prune to control size in late winter or early spring.</li>

</ul>
<br>
<h3>Harvest and Storing Mango</h3>
<ul>
    <li>Mango trees bear fruit about six years after seed sowing. Saplings usually take 3 to 5 years to bear fruit.</li>
    <li>Mango fruit matures 100 to 150 days after flowering.</li>
    <li>Let fruit ripen on the tree for the best flavor.</li>
    <li>Ripe fruit will turn to its mature color and become soft to the touch similar to a peach.</li>
    <li>Fruit will ripen off the tree at room temperature. Place the fruit stem end down to ripen Cover fruit with a cloth so that it does not shrivel.</li>
    
</ul>
<br>
            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>