{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>MUSKMELON</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\muskmelon.jfif' %}" alt="Muskmelon"
                        style="height:30%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>MUSKMELON</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>Planting and spacing melons</h3>
                <ul>
                    <li>Sow melon seed 1 inch (2.5cm) deep.</li>
                    <li>Space seeds 18 inches (45cm) apart in the garden.</li>
                    <li>Plant melons on raised mounds or hills that are 24 inches (61cm) across or wider. Mounds warm quickly in spring and stay warm through the growing season.</li>
                    <li>Sow 4 to 6 melons seeds on each mound; when seedlings have developed three or four true leaves, thin to the 2 or 3 strongest seedlings on each hill.</li>
                    <li>Cut the thinned seedlings at the soil level with scissors so as not to disturb the roots of the remaining plants.</li>
                    <li>Space mounds 4 to 6 feet (1.2-1.8m) apart.</li>
                    <li>Mounds can range in height from a few inches to more than 12 inches (30cm) tall; mounds will allow vines to run away down the slope.</li>
                    <li>Move an inch or two of soil across the top of the mound to form a rim around the top of the mound. The rim will protect young plants from heavy rains that might wash away the soil leaving shallow roots exposed; the rim will also hold</li>
                    <li>irrigation water during hot weather.</li>



                    </ul>

                    <br>

<h3>Watering Melons</h3>
<ul>
    <li>Melons require plentiful regular, even watering for quick growing.</li>
    <li>Give melons 1 inch of water (16 gallons/60.5 liters) or more each week.</li>
    <li>Water with drip irrigation or a soaker hose to avoid wetting leaves. Wet leaves are susceptible to fungal diseases.</li>
    <li>Keep the soil around melons evenly moist from planting until the fruit begins to develop.</li>
    <li>You can cut back on watering once fruit begins to develop but don’t let the soil go dry. Less water will enhance sweetness.</li>
    <li>Dry soil a week before harvest will produce the sweetest melons.</li>
    <li>Avoid watering plants overhead which can result in mildew.</li>

</ul>
<br>
<h3>Harvesting melons</h3>
                <ul>
                    <li>Cantaloupes will be ready for harvest 70 to 100 days after sowing.</li>
                    <li>Most melons on a single plant will come to harvest within a 3 to 4-week period.</li>
                    <li>Limit water for a week in advance of the harvest to concentrate fruit sweetness. Too much water will dilute the sugars in the fruit.</li>
                    <li>When muskmelons reach full-size rinds change from green to tan or yellow and stems turn brown they are ready for harvest. The skin under the netting will turn yellow-brown when the fruit is ripe and the netting will become more pronounced</li>
                    <li>Smooth-skinned honeydew melons will become cream-colored when ripe.</li>
                    <li>A ripe melon will develop a circular crack where the stem attaches to the fruit.</li>
                    <li>Ripe melons will have a sweet aroma at the stem end.</li>
                    <li>Ripe melons will slip easily off the stem; a half-ripe melon will require more pressure and may come off with half the stem attached.</li>
                    <li>Harvest melons when they are dry.</li>
                    <li>A ripe melon will soften after harvest but it will not continue to sweet off the vine.</li>
                    <li>Leave melons on the vine until they are ripe.</li>


                    </ul>

                    <br>

            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>