{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>PIGEONPEAS</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\pigeonpeas.jpg' %}" alt="Pigeonpeas"
                        style="height:30%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>PIGEONPEAS</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>Feeding</h3>
                <ul>
                    <li>Add aged manure and aged compost to planting beds in advance of planting.</li>
                    <li>Side dress plants with aged compost at midseason.</li>
                    <li>Cultivate gently around peas to avoid harming the fragile roots.</li>
                </ul>
                    <br>

<h3>Watering </h3>
<ul>
    <li>Keep the soil evenly moist. Do not allow the soil to dry out.</li>
    <li>Avoid getting plants wet when they are flowering or the crop may be reduced.</li>
    <li>In India, It requires very less irrigation and it is one of the most drought resistant pulse crops.</li>

</ul>
<br>
<h3>Care </h3>
<ul>
    <li>Weeds will complete with peas for nutrients and soil moisture. Keep the pea patch weeded. Peas have a shallow root system, hand pull weeds of use shallow cultivation, especially around young plants.</li>
    <li>Mulch around peas with aged compost to keep down weeds and conserve soil moisture.</li>
    <li>Mound soil up around the base of peas to help support the plants. Bush peas are best supported by mounding soil or spacing plants close together.</li> 
</ul>
<br>
<h3>Harvest and Storing </h3>
<ul>
    <li>Peas will be ready for harvest 55 to 80 days from sowing depending on the variety. Pea seedlings can be harvested as microgreens.</li>
    <li>Peas flower then they soon make pods. Start harvesting as soon as the pods are filled out.</li>
    <li>Pick shelling peas (garden, English, and snap peas) when the pods are bulging and green before peas start to harden. Young peas will be tastier than older ones.</li>
    <li>Timing of harvest is important: if you pick too soon the plant’s efforts will be thwarted, but if you wait a few days too many, the peas will become yellow and hard.</li>
    <li>Withered and yellowed pods can be used for dried peas.</li>
    <li>Pick sugar and snow peas when pods are 1½ to 2½ inches (4-6mm) long and peas are just barely visible within the pods.</li>
    <li>Pick pea pods gently so as not to break the plant or pull out the roots. Hold the plant in one hand as you pull the pods with the other.</li>
    <li>The sugar in peas will begin converting to starch as soon as peas are picked. To slow the process, chill the peas in their pods as they are picked and shell them immediately before cooking.</li>
    <li>Peas will continue to produce if you keep the well watered and well picked, every other day or so.</li>
    <li>Peas have lots of natural sugars that start to turn to starch as soon as they are picked. Use peas fresh or dry or freeze them as soon a possible.</li>
    <li>Don’t shell peas until just before cooking.</li>
    <li>Peas will keep in the refrigerator unshelled for up to one week.</li>
    <li>Peas can be frozen, canned, or dried.</li>
    <li>Dry peas on the vine until the leaves have turned color. Then pick the pods and shell out the peas. They can finish drying in an airy place out of the sun.</li>
    <li>Freeze peas after blanching them in boiling water then dunking them in cold water.</li>
    <li>Can peas using the raw-pack or hot-pack process; tender, young peas are best frozen.</li>
    <li>Dried peas will keep in a cool, dry place for up to 12 months.</li>
    <li>Edible-pod peas will keep in the refrigerator for 7 to 10 days in a plastic bag.</li>

</ul>
<br>


            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>
