{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>POMEGRANATE</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\pomegranate.jfif' %}" alt="Pomogranate"
                        style="height:30%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>POMEGRANATE</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>Planting and Spacing Pomegranate</h3>
                <ul>
                    <li>Space pomegranates about 15 feet apart.</li>
                    <li>Grown as a bush the pomegranate can grow 10 to 15 feet tall and wide. Plants can be trained to a single trunk and grown as a small tree to 20 feet tall or pruned to 10 to 12 feet tall and wide or less.</li>
                    <li>Pomegranates can be grown as ornamentals. They can be used for background plants, a screen, espalier, or as a barrier (because of the thorns). Pomegranates are also grown as decorative bonsai.</li>
                    <li>Pomegranates can be purchased bare-root, ball-and-burlapped, or container-grown.</li>
                    <li>Plant bare-root plants in early spring after the last frost but before plants break dormancy. Plant bare-roots in late winter to allow then to establish root systems before summer heat.</li>
                    <li>Ball-and-burlapped plants are also best planted in spring.</li>
                    <li>Container-grown pomegranates can be planted any time during the year; however, avoid planting in hot, dry weather.</li>
                    <li>Plant pomegranates in the warmest possible microclimate; place plants close by a building, wall, or fence that can collect solar heat during the day and radiate it out to the plant at night.</li>
                    <li>Prepare a planting site in full sun that is sheltered from a prevailing breeze or wind.</li>
                    <li>Work well-rotted compost or manure into the soil.</li>
                    <li>Dig a hole half again as deep and twice as wide as the plant’s roots. Add a cupful of all-purpose fertilizer to the bottom of the hole.</li>
                    <li>Set the plant in the hole so that the soil mark from the on the stem is level with the surrounding soil. Remove all twine and burlap from balled-and-burlapped trees. Spread the roots out in all directions.</li>
                    <li>Re-fill the hole with half native soil and half aged compost or commercial organic planting mix; firm in the soil so that there are no air pockets among the roots. Water in the soil and create a modest soil basin around the trunk to hold water at watering time.</li>
                    <li>After planting, water thoroughly with a high-phosphorus liquid starter fertilizer.</li>


                    <br>

<h3>Watering </h3>
<ul>
    <li>Mature pomegranates are drought tolerant, but regular water is necessary for the best fruit quality.</li>
    <li>To establish new plants water every 2 to 4 weeks during the dry season.</li>
    <li>Pomograntes need very little water once established, but letting the root zone alternate between wet and dry can lead to cracked fruit, which spoils quickly.</li>
    <li>Near mature fruit will crack or split if the tree experiences dry conditions followed by rain or irrigation. Split fruit will become moldy and unusable.</li>
    <li>Soils that get summer rain off and on should be kept moist throughout the growing season; make sure the soil is very well drained.</li>
    <li>Keep soil evenly moist particularly as harvest approaches; evenly moist soil will reduce fruit split.</li>
    
</ul>
<br>
<h3>Harvest and Storing Pomegranate</h3>
<ul>
    <li>Pomegranates harvest comes mid-summer through fall, about 5 to 7 months after the plant flowers.</li>
    <li>Harvest when the skin turns a distinctive yellow-orange to deep reddish purple.</li>
    <li>If you hear the sound of grains cracking when you press the fruit lightly, it is ready to pick.</li>
    <li>Harvest pomegranate fruit with clippers when skins are fully colored bright red to yellowish-brown.</li>
    <li>Fruit will split if left on the tree after it ripens.</li>
    <li>Pomegranates do not continue to develop sugar after they are picked.</li>

</ul>
<br>

            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>