{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<head>
  <title>RICE</title>
</head>
<body>
    {% block content %}
<section style=  "background: antiquewhite;">
    <div class="wrapper">
        <div class="row1">
            <div class="image-section">
                <img src="{% static 'images\rice.jfif' %}" alt="Rice"
                        style="height:30%;margin-right:15px;">
            </div>
            <div class="content">
                <h1>RICE</h1>
                <!-- <h2>Welcome To agrophile</h2> -->
                <p style="font-style: 'lobster',cursive;">
                <h3>How to plant?</h3>
                <ul>
                    <li> Plan around the rice-growing season. The optimal growing season for rice is from March through October, and the rice will take roughly six months to grow until it’s ready to be harvested.</li>
                    <li>Purchase seeds from a local nursery or gardening store. You can find most common rice grain varieties at any local farming store or nursery. You’ll want at least 1–2 ounces of seeds.</li>
                    <li> Soak the seeds. Fill a bucket with non-chlorinated water and immerse the seeds for 24–36 hours, or until germination begins with small rootlets growing out from the seed.</li>
                    <li>Prepare your soil. Rice will grow best in semi-acidic soil that has very little drainage. Heavy clay or loam will retain water well, and you can use mulch, compost, or fertilizer-rich potting soil to create the right environment for growth.</li>
                    <li>Prepare your area for planting. Rice will grow best in full sun and in a waterlogged environment similar to a flooded field. You can grow your rice in gallon buckets, a raised bed like a garden box, or you can create long troughs in the soil in your garden bed that can be filled with water. If you are planting your seeds in a bucket or box, make sure your soil level is at least 6 inches high.</li>
                    <li>Plant the seeds. Plant your soaked and germinated seeds in the soil roughly a half-inch deep and with around 6 inches of space between each seed.</li>
                    <li>Flood your area. Fill your growing area with water until the soil has saturated and there is at least 2 inches of water above the soil. Your growing area needs to be constantly wet for the seeds to grow, so make sure your water isn’t draining too quickly.</li>

                    </ul>

                    <br>

<h3>Care </h3>
<ul>
    <li>Make sure your soil is constantly wet. Check back regularly to add water to your soil to keep it flooded. Try to keep the water level at two inches above the soil when first growing and up to four inches when the rice stalks grow above six inches tall. Never let the soil dry out.</li>
    <li>Try to keep your seeds warm. If the nights get chilly, move your plants indoors or try covering them to trap warmth inside.</li>
    <li>Remove any weeds that appear. Your rice will be growing for many months and weeds might spring up during that time. Make sure to uproot any weeds to keep the area clear for growth.</li>

</ul>
<br>
<h3>Harvest</h3>
<ul>
    <li>Check that your rice is ready for harvest. Over the course of four to six months after first planting, the rice may have grown to around 3–4 feet tall, and sometimes higher. You will know it’s ready for harvest when the rice grains at the top of the stalk, called the seedheads, are no longer green and have turned a golden brown.</li>
    <li>Cut and dry the stalks. Cut the stalks at the top, right below where the clusters of rice grains (called the panicles) are located. Place these in the sun and allow them to dry for one to two weeks, or until they are completely dried out.</li>
    <li>Remove the grains from the cluster. In rice production, the step when you remove grains from the cluster is called threshing. You can remove each grain individually, or a faster method is to place the panicle cluster in a bag and beat them against a wall or hard surface until they separate and collect in the bag.</li>
    <li>Roast in the oven. Place the grains on a baking sheet. Roast at 180°F for at least an hour, or until they turn a darker golden brown. Let them cool afterward.</li>
    <li>Remove the husks. This step is called hulling, in which you remove the grain from their outer husks. You can rub them between your hands or use a mortar and pestle to grind and separate them. You will now have your own rice grains similar to what you would find in a grocery store.</li>

</ul>
<br>

            </div>
        </div>
    </div>
</section>
{% endblock %}
</body>

</html>