{% extends 'base.html' %}
{% load static %}

<body>
  {% block content %}
  <section class="hero">
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>HEART OF PERFECT FARMING <br><br>Love Agriculture</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="info">
    <h1>OUR FEATURES</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="person-img">
            <img src="{% static 'images/b1.jpg' %}">
          </div>
          <div class="details">
            <h4>Grow the right</h4>
          </div>
        </div>

        <div class="col-md-4">
          <div class="person-img">
            <img src="{% static 'images/b6.jpg' %}">
          </div>
          <div class="details">
            <h4>Learn what you sow</h4>
          </div>
        </div>

        <div class="col-md-4">
          <div class="person-img">
            <img src="{% static 'images/b7.jpg' %}">
          </div>
          <div class="details">
            <h4>24/7 Support</h4>
          </div>
        </div>


      </div>
    </div>
  </section>
  <section class="test">
    <div class="testimonials">
      <div class="inner">
        <h1>Testimonials</h1>
        <div class="border">
          <div class="row1">
            <div class="col1">
              <div class="testimoial">
                <img src="{% static 'images/d1.jpg' %}" alt="">
                <div class="name">RAMESH</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p>As a farmer, Agrophile has helped us to know the easy methods to grow our crops. It is very useful.
                </p>
              </div>
            </div>

            <div class="col1">
              <div class="testimoial">
                <img src="{% static 'images/e2.jpg' %}" alt="">
                <div class="name">VEERA</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <p>I can not say enough about what a positive and valuable experience it was with agrophile. Every part
                  of the website, from the beginning to end was well thought out and executed.</p>
              </div>
            </div>

            <div class="col1">
              <div class="testimoial">
                <img src="{% static 'images/e3.jpg' %}" alt="">
                <div class="name">RAHUL</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <p>Agrophile was a great compliment to our farmers offering opportunities, informations, and practical
                  support</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  {% endblock %}
</body>

</html>