{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="jc">
        <nav>
            <ul>
                <li class="dropdown"><a href="#">beans<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="https://docs.google.com/document/d/1dSotWVfw1Ms1wBo0idw0mnFxncLWcqnb/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">chickpea</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1Q8kbiErIQ7UpOl4Xx3EwPgtcnb4bTD26/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">kidneybeans</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1C2B_dn5TMQwqkx-CseLMYG9EYv8vkrNV/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">mothbeans</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1V0rk84EDeqQ4K34oAqwHaYUynnB9lIzC/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">pigeonpeas</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">fruit<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="https://docs.google.com/document/d/1-tL9RnPwW-uPJ9kIm1V4JdSslk44uC4F/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">grapes</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1w5Y3Dz_YRKUHgbZJN2YiKFNQYS5HYfgm/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">mango</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1ve8kZNxZio0MeJVgknW6G1uC2Qhrrm_Z/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">muskmelon</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1gTl4g7Kcb0AL_nyo_dIwOrd-hChYi2PW/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">pomogranate</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">cereal<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="https://docs.google.com/document/d/1l8IA29I6-Y3OVlsjjPLpdTdGV8RH8uXY/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">rice</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1T5o5uFeeiMeiy2kWmsoFRhXest2uM05w/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">maize</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">fibre<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="https://docs.google.com/document/d/1LJx6xfIM5MvpU-0rimXHmcn1T3udgaUW/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">cotton</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1pZHa0RxccbfvMahcSzfq4Jy4H3qczuqh/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">jute</a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown"><a href="#">pulses<span>&rsaquo;</span></a>
                    <ul>
                        <li><a
                                href="https://docs.google.com/document/d/1sfHpR4seEaKcWqvnarQQIN-NJJvaMdHx/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">blackgram</a>
                        </li>
                        <li><a
                                href="https://docs.google.com/document/d/1eHfPIjrLloDSg2C1aEv087m0UB2bCI2C/edit?usp=sharing&ouid=107871001892825233428&rtpof=true&sd=true">lentil</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <div class="wrapper1">
            <div class="rowx">

                <div class="contentx">
                    <h1>Discover!</h1>
                    <h2>Learn what you sow</h2>
                    <p>Welcome to the information page of the AgroPhile Platform. In this page we will provide you only
                        interesting content which is helpful.You will come to know the information regarding the
                        cultivation of various crops, fruits, vegetables, millets and so on. We're dedicated to
                        providing you the best of agriculture methods to grow your crops organically. We're working to
                        turn our passion for agriculture into a booming online website. Enjoy and &#10084;
                        agriculture!!! . Please give your support and love.<br>Thanks for visiting!</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>